html {
    scroll-behavior: smooth;
}

.carousel {
  width: 100%;
  height: 300px;
  background: black;
}

/* img {
  width: 100%;
  height: 100%;
} */

#profile-logo a {
  display: none;
}

#profile-logo:hover a.logout {
  display: block;
}

.slides img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slides img:not(.active) {
    top: 0;
    left: -100%;
}

.dotsContainer .dot {
    width: 15px;
    height: 15px;
    margin: 0 8px;
    /* border: 3px solid #bbb; */
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: .6s ease;
}

.dotsContainer .dot.active {
    background-color: #555;
}

@keyframes next1 {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes prev1 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}